html {
  height: 100%;
}
body {
  background-color: #34495e;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-family: monospace;
  min-width: 400px;
  margin: 0;
}
body h4 {
  font-size: 1.2rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
body div {
  margin-bottom: 1rem;
}
.form,
.greetings {
  display: none; /*display:none 보이지 않고 공간을 미차지.*/
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  /* bg.js 의 bgImage*/
  position: fixed;
  background-position: center;
  animation: fadeIn 0.5s linear;
  background-size: cover;
  z-index: -1;
  width: 200vh;
  height: 110vh;
}
.js-weather {
  /* border: 3px solid red; */
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  font-size: 1.8rem;
}
.js-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.js-clock h1 {
  font-size: 2rem;
  font-family: monospace;
}
.inputBox {
  height: 1.5rem;
  width: 20rem;
  margin-bottom: 0.5rem;
  outline: none;
  padding-left: 0.3rem;
}
.js-listBox {
  /* border: 3px solid white; */
  width: 21rem;
  position: relative;
}
.js-toDoList {
  /* border: 3px solid red; */
  list-style: none;
  padding-left: 0rem;
  margin-bottom: 0.3rem;
  /* width: 30rem; */
  position: absolute;
}
.js-toDoList li {
  border: 3px solid blue;
  margin-bottom: 0.2rem;
  height: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#delBtn {
  margin-right: 0.5rem;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
#content {
  /* border: 3px solid yellow; */
  /* width: 100rem; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}